h1 {
    color: white;
    position:absolute;
    left:500px;
    top:50px;
  }
.bt:hover {
    color:white;
    background-color:black;
    }
h2 {
    color: white;
    position:absolute;
    left:360px;
    top:100px;
    background-color:black;
  }
 h3 {
    color: white;
    position:absolute;
    left:420px;
    top:200px;
    font-size:25px;
    background-color:black;
  }
 h4 {
    color: white;
    position:absolute;
    left:650px;
    top:191px;
    font-size:25px;
    background-color:black;
  }
p {
    color: white;
    position:absolute;
    left:450px;
    top:150px;
    background-color:black;
  }
h3:hover{
    text-decoration: underline;
    color:#173EEC;
}
h4:hover{
    text-decoration: underline;
    color:#173EEC;
}